     {
    "presets": [
        "react-native",
        "@babel/preset-env"
    ],
    "plugins": [
        ["@babel/plugin-proposal-decorators", { "decoratorsBeforeExport": true }],
        "transform-decorators-legacy",
        "transform-class-properties"
        
    ]
}
